// body {
//     background-color: wheat
// }

//Color Variables 

$primary-color: #fa6089;
$primary-hover-color: white;
$sucess-color: #bc3689;
$success-hover-color: #f4c7c7;
$title-color: #333; 
$bg_color: antiquewhite;

body {
    font-family: Cambria, Cochin, Georgia, Times, 
    'Times New Roman', serif;
    margin: 0;
    padding: 0;
    background-color: $bg_color;
}

.content{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;

    h1{
        color: $primary-color;   
    }

    h4{
        color: #2b2b2b;
    }
    table{
        width: 100%;
        margin-top: 20px;
        border-collapse: collapse;

        th,td{
            padding: 10px;
            border-bottom: 1px solid #ccc;

            th{
                background-color: $primary-color;
                color: $title-color;
            }
        }
    }
    
    a{
        display: inline-block;
        padding: 8px 16px;
        margin: 5px;
        border-radius: 20px;
        background-color: $primary-color;
        color: #fff;
        text-decoration: none;
        transition: background-color 0.3s ease;
    }
     &:hover{
            background-color: $primary-hover-color;
        }
    }

    form{
        margin-top: 20px;

        input[type="text"]{
            padding: 10px;
            width: 60%;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-right: 10px;
        }

        input[type="submit"]{
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            background-color: $primary-color;
            color: #fff;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover{
                background-color: $primary-hover-color;
            }
        }
    }

